@import '../../../scss/variables';

#header {
    height: $header-height;
    background: #3D3935;
    box-shadow: 0 1px 2px rgba(60, 56, 53, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;

    .link-menu-control {
        text-decoration: none;
        cursor: pointer;

        .menu-control {
            color: #fff;
            float: left;
            display: flex;
            align-items: center;
            justify-content: start;
            font-size: 30px;
            color: #7FCFCD;
            width: 45px;
            height: 45px;
            padding-left: 8px;
            background: #00A09C;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            line-height: 47px;
            height: 47px;
            float: left;
            cursor: pointer;

            a {
                color: #CCC;
                padding: 0 10px;
                text-decoration: none;

                i {
                    vertical-align: text-top;
                    color: #777;
                }
            }
        }
    }

    .right-menu {
        float: right;
        display: flex;

        #user-small-avatar {
            img {
                border-radius: 50%;
                width: 22px;
                height: 22px;
                top: 11px;
                right: 15px;
                position: fixed;
            }

            label {
                font-size: 12px;
                border-radius: 50%;
                font-weight: bold;
                width: 27px;
                height: 27px;
                line-height: 27px;
                text-align: center;
                background-color: #00a09c;
                top: 9px;
                right: 15px;
                color: #fff;
                position: fixed;
            }
        }

        #user-profile {
            margin: 46px 0 0;
            background-color: #3d3935;
            right: 0;
            width: 250px;
            height: auto;
            box-shadow: 7px 5px 5px #888888;
            position: fixed;

            img {
                border-radius: 50%;
                width: 80px;
                height: 80px;
                margin: 10px 0 0 90px;
                position: relative;
            }

            label {
                vertical-align: middle;
                font-weight: bold;
                line-height: 80px;
                font-size: 25px;
                border-radius: 50%;
                width: 80px;
                height: 80px;
                text-align: center;
                background-color: #00a09c;
                margin: 10px 0 0 90px;
                color: #fff;
                position: relative;
                font-family: $font-family-body-500;
            }

            #user-full-name {
                margin: 10px 0 0 0;
                text-align: center;
                color: #fff;
                font-size: 18px;
                text-transform: capitalize;
            }

            #user-position {
                text-align: center;
                color: #fff;
                font-size: 13px;
                text-transform: capitalize;
            }

            #logOut {
                margin: 20px 0 5px 0;
                background-color: #3d3935;
                height: 35px;
                border-bottom: 1px solid #83817f;
                border-top: 1px solid #83817f;
                display: flex;
                cursor: pointer;

                .logout-button {
                    color: #fff;
                    border: none;
                    background: none;
                    font-size: 13px;
                    width: 100%;
                    text-align: left;
                    align-self: center;
                    text-transform: capitalize;
                    padding: 0 15px;

                    .icon-pet-i-i-logout {
                        float: right;
                        font-size: 15px;
                        display: flex;
                    }
                }
            }
        }
    }

    .menu-search {
        float: right;

        button {
            margin: 2px 55px 0 0;
            height: 45px;
            width: 45px;
            border: none;
            background: none;
            font-size: 20px;
            border-right: 1px solid #83817f;
            color: #83817f;
        }

        button:hover {
            color: #FFF;
            background: #2D2C2B;
        }
    }

    .brand-logo {
        float: left;
        margin-left: 10px;
        z-index: 1051;

        img {
            display: inline-block;
            height: 54px;
        }
    }

    .site-navigation {
        float: left;
        margin-left: 0;

        &.page-title-container {
            .page-title {
                a {
                    font-weight: bold;
                    color: #fff;
                    font-size: 16px;
                    font-family: $font-family-body-500;
                }
            }
        }

        &.site-main-menu {
            .profile-mobile {
                display: none;
            }
        }
    }
}
