<div class="header" id="header" ng-class="{active: vm.IsMobileMenuActive, isToogleMenu: vm.menu.toogle}">
    <div ng-switch="vm.IsMobileMenuActive">
        <a class="link-menu-control" ng-click="vm.toogleSideMenu();">
            <span class="menu-control icon-pet-i-i-menu-lines"></span>
        </a>
        <a href="/dashboard" class="brand-logo">
        </a>
        <ul class="site-navigation page-title-container" ng-switch-when="false">
            <li class="page-title"><a href="/dashboard">{{ vm.appName }}</a></li>
        </ul>
        <div class="right-menu">
            <div id="user-small-avatar" ng-mouseover="vm.toogleImgModal($event)">
                <img ng-if="vm.avatarMode == 'image'" src="{{vm.userInfo.photo}}"/>
                <label ng-if="vm.avatarMode == 'name'">{{vm.currentUserNameShortcut}}</label>
            </div>
            <div id="user-profile" ng-show="vm.userView">
                <img ng-if="vm.avatarMode == 'image'" src="{{vm.userInfo.photo}}"/>
                <label ng-if="vm.avatarMode == 'name'">{{vm.currentUserNameShortcut}}</label>
                <p id="user-full-name">{{vm.userInfo.firstName}} {{vm.userInfo.lastName}}</p>
                <p id="user-position">{{vm.userInfo.position}}</p>
                <div id="logOut" ng-click="vm.logOutCurrentUser()">
                    <span class="logout-button">
                        log out
                        <i class="icon-pet-i-i-logout"></i>
                    </span>
                </div>
            </div>
        </div>
        <!--Menu-->
        <ul class="site-navigation site-main-menu" ng-class="{active: vm.IsMobileMenuActive}">
            <!------------------------------------------>
            <!-----------------your menu here----------->
            <!------------------------------------------>
        </ul>

    </div>
</div>



