<!-- New login -->
<div class="login-container">
    <div class="login-form-container">
        <img class="pet-logo" src="/images/pet-logo.png" />
        <h2 class="title">myMEMO</h2>
        <div class="form-container">
            <form name="loginform" role="form" novalidate>
                <select class="form-control" placeholder="Domain" required ng-model="loginForm.domain">
                    <option value="" disabled selected hidden>Domain*</option>
                </select>

                <input class="form-control btnUserName"
                       placeholder="Enterprise ID (e.g. mohdali.abdullah)"
                       ng-model="loginForm.username"
                       required
                       type="text">

                <input class="form-control btnPassword"
                       placeholder="Password"
                       ng-model="loginForm.password"
                       required
                       type="password">

                <button id="btnLogin"
                        data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Logging in"
                        class="btn btn-default btn-login btn-sm"
                        ng-click="vm.login()">LOGIN</button>
            </form>
        </div>
    </div>
    <div class="login-footer-container">
        <div class="footer">
            <div class="service-desk">
                <div class="service-info"><a>Service Desk:&nbsp;</a></div>
                <div class="service-info">
                    <a><i class="fa fa-phone" aria-hidden="true"></i>+603 2331 3333&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    <a href="mailto:ict_servicedesk@petronas.com.my"><i class="fa fa-envelope" aria-hidden="true"></i>
                        ict_servicedesk@petronas.com.my
                    </a>
                </div>
            </div>
            <p class="service-info">
                <a href="http://pww.petronas.com.my/Pages/Privacy%20Policy.aspx" target="_blank">Privacy Policy</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="http://pww.petronas.com.my/Pages/Use%20Terms%20and%20Conditions.aspx" target="_blank">
                    Use Term & Conditions
                </a>
            </p>
        </div>

    </div>
</div>

