@import '../../scss/variables';

.login-container {
    background: #00A19C;
    background: linear-gradient(#00B1A6, #007F7B);
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 70px;

    .login-form-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: inherit;;

        .pet-logo {
            width: 160px;
            height: 200px;
        }

        .title {
            color: #fff;
            font-size: 42px;
            font-family: $font-family-body-500;
            padding: 60px 0 40px 0;
            margin: 0;
        }

        .form-container {

            .form-control {
                height: 48px;
                width: 480px;
            }

            .btn-login {
                margin-top: 20px;
                width: 100%;
                font-weight: 700;
                color: #fff;
                background-color: #68468b;
                border: none;
                height: 36px;
                border-radius: 4px;
            }
        }
    }

    .login-footer-container {
        display: flex;
        flex: 1;
        flex-flow: row nowrap;
        align-items: flex-end;
        justify-content: center;
        width: 100vw;

        .footer {
            padding: 24px 0 10px 0;
            flex: 1;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            border-top: 1px solid rgba(255,255,255,.12);

            .service-desk {
                display: flex;
            }

            .service-info * {
                color: #fff;
                opacity: .7;
                font-size: 14px;
            }
        }

    }
}

@media screen and (max-width: $screen-phone) {
    .login-container {
        padding-top: 25px;

        .login-form-container {

            .pet-logo {
                width: 128px;
                height: 160px;
            }

            .form-container {

                .form-control {
                    height: 48px;
                    width: 288px;
                }

            }
        }

        .login-footer-container {
            .footer {
                padding-top: 10px;

                .service-desk {
                    flex-flow: column wrap;
                    justify-content: center;
                    align-items: center;
                }

                .service-info * {
                    font-size: 11px;
                }
            }
        }
    }
}
