@import '../../../../scss/variables';
.shortcut-name {
  color: #FFFFFF;
  display: inline-block;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-family: $font-family-body-500;
  font-size: 13px;
}
