@import '../../../../scss/variables';

.gs-checkbox {
  border: 1px solid #CCC;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon-pet-i-check {
    color: #00A19C;
    padding-left: 5px;
  }
}
