@import '../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables.scss';

/*----------------------------------------------------------------*/
/*  Variables
/*----------------------------------------------------------------*/

// Typography
$font-family-body: 'MuseoSans', 'Arial', 'Helvetica Neue', sans-serif;
$font-family-code: 'MuseoSans', 'Menlo', 'Consolas', 'Ubuntu Mono', monospace;
$font-family-body-500: 'MuseoSans500', 'Arial', 'Helvetica Neue', sans-serif;
$font-family-body-700: 'MuseoSans700', 'Arial', 'Helvetica Neue', sans-serif;
$font-family-body-900: 'MuseoSans900', 'Arial', 'Helvetica Neue', sans-serif;
$font-size-root: 14px;
$font-size-base: 1.3rem;
$font-color-base: #333;
$font-color-deepgray: #3D3935;
$font-color-brand: #00A19C;
$font-color-link-hover: rgb(86, 110, 110);
$grey-bg-color: #dddddd;
$h1: 2.4rem;
$h2: 2.0rem;
$h3: 1.6rem;
$h4: 1.4rem;
$h5: 1.3rem;
$h6: 1.2rem;

$lib-active-color: rgb(203, 153, 111);


$tablet: "(min-width: 768px) and (max-width: 991px)";
$desktop: "(min-width: 992px)";
$normaldesktop: "(min-width: 1366px)";
$limittablet: "(max-width: 991px)";
$mobile: "(max-width: 767px)";
$smallmobile: "(max-width: 480px)";
$extralarge: "(min-width: 1600px)";
$limit1024: "(max-width: 1024px)";
$fullHD: "(min-width: 1920px)";
$range1024to1200: "(min-width: 1024px) and (max-width: 1200px)";
$range1200to1366: "(min-width: 1200px) and (max-width: 1366px)";

$header-height: 45px;
$footer-height: 45px;
$side-bar-width: 45px;