@mixin defaultMuseoSans() {
    src: url('../fonts/museosan/museosans-300-webfont.eot');
    src: url('../fonts/museosan/museosans-300-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/museosan/museosans-300-webfont.woff2') format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MuseoSans";
    @include defaultMuseoSans();
}

@font-face {
    font-family: "MuseoSans300";
    @include defaultMuseoSans();
}

@font-face {
    font-family: "MuseoSans500";
    src: url('../fonts/museosan/museosans_500-webfont.eot');
    src: url('../fonts/museosan/museosans_500-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/museosan/museosans-500-webfont.woff2') format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MuseoSans700";
    src: url('../fonts/museosan/museosans_700.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MuseoSans900";
    src: url('../fonts/museosan/museosans-900-webfont.eot');
    src: url('../fonts/museosan/museosans-900-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/museosan/museosans-900-webfont.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}
