@import 'variables';

/*----------------------------------------------------------------*/
/*  Typography
/*----------------------------------------------------------------*/

html,* {
    font-size: $font-size-root;
    font-family: $font-family-body;
    line-height: 1.4;
    letter-spacing: -0.1px;
}

body {
    font-size: $font-size-base;
    background: #f2f2f2;
    min-height: 100vh;
}

html, body {
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: auto;
}

form {
    font-size: 1.6rem;
}

// Headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: normal;
}

h1, .h1 {
    font-size: $h1;
}

h2, .h2 {
    font-size: $h2;
}

h3, .h3 {
    font-size: $h3;
}

h4, .h4 {
    font-size: $h4;
}

h5, .h5 {
    font-size: $h5;
}

h6, .h6 {
    font-size: $h6;
}

// Links
a {
    text-decoration: none;

    &:hover, &:active {
        text-decoration: underline;
    }
}