@import '../../../scss/variables';

.side-menu {
    width: $side-bar-width;
    height:100vh;
    background-color: #3d3935;
    position: fixed;
    z-index: 9999;
    text-align: center;
    top: $header-height;

    &.isToogleMenu {
        width: 200px;
    }

    .link-menu {
        text-decoration: none;
        cursor: pointer;
        &:first-child {
            .menu {
                padding-top: 25px;
                height: 85px;
            }
        }
        .menu {
            display: flex;
            align-items: center;
            justify-content: start;
            font-size: 25px;
            width: 100%;
            height: 50px;
            border-bottom: 1px solid #47433F;
            color: #83817F;
            padding-left: 8px;

            &.menu-control {
                font-size: 30px;
                background: #00A09C;
                height: 50px;
                color: #7FCFCD;
            }

            &.active {
                color: #FFF;
                background: #2D2C2B;
            }

            .menu-title {
                margin-left: 10px;
                font-weight: bold;
            }
        }
        .menu:hover {
            color: #FFF;
            background: #2D2C2B;
        }
    }
}
