<div class="side-menu" ng-class="{isToogleMenu: vm.menu.toogle}">
    <!-- <a href="#" class="link-menu" ng-click="vm.toogleSideMenu();">
        <div class="menu menu-control icon-pet-i-i-cards"></div>
    </a> -->
    <a ng-repeat="item in vm.menus"
    ng-if="item.forRole == true"
    ui-sref="{{item.redirect}}"
    class="link-menu"
    ng-click="vm.activeMenu(item.name);"
    tooltip-placement="right" uib-tooltip="{{item.name}}" tooltip-enable="vm.menu.toogle == false">
        <div>
            <div class="menu {{item.icon}}" ng-class="{'active': item.isActive == true}">
                <span ng-show="vm.menu.toogle == true" class="menu-title">{{item.name | uppercase}}</span>
            </div>
        </div>
    </a>
</div>
