@import '../../../scss/variables';

footer {
    background: $font-color-deepgray;
    color: #FFF;
    border-bottom: solid 2px $font-color-brand;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    height: $footer-height;

    .copyright {
        float: left;
        margin-top: 11px;
        margin-left: 25px;
        font-size: 13px;
    }
    nav {
        ul {
            margin-bottom: 0;
            padding-left: 15px;

            &.pull-left {padding-top: 10px;}
            li {
                display: inline-block;
                a {color: #CCC; text-decoration: none;border-right: solid 1px #555; padding: 0 10px;
                    font-size: $font-size-root - 1px;
                    &:hover,&:active,&:focus {color: #FFF;}
                }

                &:first-of-type a {padding-left: 0;}
                &:last-of-type a {border-right: 0;}
            }
            &:nth-of-type(2) {
                a {
                    text-transform: uppercase;
                    font-size: $font-size-root - 2px;
                }
            }
        }
        .second-nav {background: $font-color-brand;
            padding-right: 15px;
            padding-left: 0;
            li {
                padding-top: 12px;

                &:first-of-type {
                    float: left;
                    padding-top: 0;
                    margin-left: -1px;
                    height: 41px; overflow: hidden;
                }
                a {color:#FFF !important; border-right: solid 1px rgba(255,255,255,0.2);}
                img {
                    height: 42px;
                }
            }
        }
    }
    &:after {clear: both;display: block; content: '';}

    #sitemap {
        border: none;
        background-color: black !important;
        opacity: 0.8;
        padding-left: 28px;
    }
    #sitemap a:hover {
        color:#FFF;
    }

    .modal-header {
        border: none;
    }

    .close {
        color: white  !important;
        opacity: 1  !important;
        width: 28px  !important;
        height: 28px  !important;
        border-radius: 50%;
        border: solid 1px #FFF  !important;
        text-align: center;
        text-shadow: none !important;
    }

    .close:hover {color:#FFF !important; opacity: 1;}

    .model-dialog,
    .model-body {
        width: 100%;
        height: 100%;
        padding-top: 0 !important;
    }
}
