<footer class="footer">
    <nav>
        <ul class="pull-left">
            <li><a target="_blank" href="#" title="">Privacy
                Policy</a></li>
            <li><a target="_blank" href="#" title="">Scam Notice</a>
            </li>
            <li><a target="_blank" href="#" title="">Legal
                Notice</a></li>
            <li><a target="_blank" href="#"
                   title="">Use Terms & Conditions</a></li>
            <li><a target="_blank" href="#"
                   title="">Accessibility</a></li>
        </ul>
        <p class="copyright">Copyright &copy;2017 GREEN SIGNAL. All rights reserved.</p>
        <ul class="pull-right second-nav">
            <li><img src="/images/wg-f.png" alt=""></li>
            <li><a target="_blank" href="#" title="">Contact
                Us</a></li>
            <li><a target="_blank" href="#" title="">Faq</a></li>
            <li><a target="_blank" href="#" title="">Tell
                Us</a></li>
        </ul>
    </nav>
</footer>

