<div class="gs-wrapper" ng-controller="GreenSignalController as vm">
    <side-menu-bar menu="vm.menu"></side-menu-bar>
    <div class="main-view" ng-class="{isToogleMenu: vm.menu.toogle}">
        <header-app app-name="Green Signal" menu="vm.menu"></header-app>
        <section class="gs-container">
            <div ui-view class="gs-content"></div>
        </section>
        <footer-app></footer-app>
    </div>
</div>
