@import '../../scss/_variables';

.gs-wrapper {
    display: block;
    min-height: 100vh;

    // common style for link in the app
    a {
        text-decoration: none;
        cursor: pointer;
    }
    
    .gs-container {
        padding-top: $header-height;
        padding-left: $side-bar-width;
    }
}

div::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

div::-webkit-scrollbar-thumb {
    background-color: #cecbcb;
    border-radius: 10px
}

div::-webkit-scrollbar-track {
    background: none
}

body::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

body::-webkit-scrollbar-thumb {
    background-color: #cecbcb;
    border-radius: 10px
}

body::-webkit-scrollbar-track {
    background: none
}